.card {
  width: 30%;
}

.card > img {
  width: 100%;
  aspect-ratio: 3/2;
}

.accordion {
  border: 0;
}

.accordionSummary {
  display: flex;
}

.arrow {
  width: 28px;
  transform: rotate(90deg);
  transition: var(--transition-2);
}

.cardTitle,
.cardDesc {
  font-weight: 400;
  line-height: 25px;
  color: var(--primary-transparent-1);
}

.cardTitle {
  margin-top: 22px;
  font-size: 23px;
}

.cardDesc {
  font-size: 19px;
}

.cardFooter > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}
